{% assign social_image = "" %}
{% assign social_alt = page.title | default: site.title %}

{% if page.image.path %}
    {% assign social_image = page.image.path %}
    {% assign social_alt =
        page.image.alt
        | default: page.image_alt
        | default: social_alt
    %}
{% elsif page.image %}
    {% assign social_image = page.image %}
    {% assign social_alt =
        page.image_alt
        | default: social_alt
    %}
{% elsif site.social_image %}
    {% assign social_image = site.social_image %}
    {% assign social_alt = site.title %}
{% elsif site.logo %}
    {% assign social_image = site.logo %}
    {% assign social_alt = site.title %}
{% endif %}

{% if social_image != "" %}
    <meta
        property="og:image"
        content="{{ social_image | absolute_url }}"
    >

    <meta
        property="og:image:secure_url"
        content="{{ social_image | absolute_url }}"
    >

    <meta
        property="og:image:alt"
        content="{{ social_alt | strip_html | escape }}"
    >

    {% if page.image.width %}
        <meta
            property="og:image:width"
            content="{{ page.image.width }}"
        >
    {% endif %}

    {% if page.image.height %}
        <meta
            property="og:image:height"
            content="{{ page.image.height }}"
        >
    {% endif %}

    <meta
        name="twitter:card"
        content="summary_large_image"
    >

    <meta
        name="twitter:image"
        content="{{ social_image | absolute_url }}"
    >

    <meta
        name="twitter:image:alt"
        content="{{ social_alt | strip_html | escape }}"
    >
{% endif %}
